.skyblue_color {
  background-color: #4684c6 !important;
  margin-bottom: 20px;
  box-shadow: none !important;
  position: inherit !important;
}

a {
  color: white;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.link_style {
  color: white;
  text-decoration: none;
}
